/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|WindowedApplication{
	fontFamily:"verdana";
	modalTransparencyDuration: 300;
	modalTransparencyBlur: 5;
	modalTransparency: 0.3;
	modalTransparencyColor: #DDDDDD;
}

mx|TabNavigator
{
	horizontalAlign: center;
	horizontalGap: 10;
	cornerRadius: 0;
	tabOffset: 0;
}
mx|TitleWindow {
	borderAlpha: 1.0;
	borderColor: #3C7AA9;
	backgroundColor: #F0F8FD;
}
mx|Canvas{
	background-color: white;
}
